.container{
    width:200px;
    border:1px solid rgb(210, 35, 35);
    padding: 15px;
    margin:0 auto;
    border-radius: 7px;
    padding-top: 5px;
}
h1{
    text-align: center;
    margin-bottom: 7px;
}
#email,#password{
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
#submit-button{
    background-color: chartreuse;
    color: white;
    width: 30%;
    padding: 15px;
    border-radius: 6px;

}
#submit-button:hover{
    background-color: rgb(208, 255, 127);
}
