<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="blog-register.css">
</head>

<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <div class="site-header__start">
                <a href="#" class="brand" th:text="${userName}"></a>
            </div>
            <div class="site-header__end">
                <nav class="nav">
                    <button class="nav__toggle" aria-expanded="false" type="button">
                        menu
                    </button>
                    <ul class="nav__wrapper">
                        <li class="nav__item"><a th:href="@{/user/blog/list}">Home</a></li>
                        <li class="nav__item"><a th:href="@{/user/blog/register}">Blog Register</a></li>
                        <li class="nav__item"><a th:href="@{/user/blog/delete/list}">Delete List</a></li>
                        <li class="nav__item"><a th:href="@{/user/blog/logout}">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="first-view-section js-cherry">
           
            <h2 class="my" th:text="Welcome+''+${userName}"></h2>
            <img src="jpg7.jpg" alt="">
        </section>
        <section class="blog-list-section">
            <h2>Blog List</h2>
            <div class="blog-list-flex">
                <article class="blog-topic-article" th:each="blog:${blogList}">
                    <a th:href="@{/user/blog/edit/{bloId}(blogId=${blog.blogId})}" class="blog-colum">
                        <div class="blog-colum-category">
                            <p th:text="${blog.category}">JAVA</p>
                        </div>
                        <img src="Java1.jpg" alt="">
                        <div class="colum__box">
                            <p th:txet="${#temporals.format(blog.registerDate,'yyyy/MM/dd')}">2023-08-16</p>
                            <p th:txet="${blog.blogTitle}">JavaコレクションAP</p>
                        </div>
                    </a>
                </article>
                <article class="blog-topic-article">
                    <a href="" class="blog-colum">
                        <div class="blog-colum-category">
                            <p>JAVA</p>
                        </div>
                        <img src="java2.jpg" alt="">
                        <div class="colum__box">
                            <p>2023-08-16</p>
                            <p>Javaコーディング規約</p>
                        </div>
                    </a>
                </article>
                <article class="blog-topic-article">
                    <a href="" class="blog-colum">
                        <div class="blog-colum-category">
                            <p>JAVA</p>
                        </div>
                        <img src="java2.jpg" alt="">
                        <div class="colum__box">
                            <p>2023-08-16</p>
                            <p>標準的な関数型インタフェース</p>
                        </div>
                    </a>
                </article>
                <article class="blog-topic-article">
                    <a href="" class="blog-colum">
                        <div class="blog-colum-category">
                            <p>JAVA</p>
                        </div>
                        <img th:src="@{/image/java2.jpg}" alt="">
                        <div class="colum__box">
                            <p>2023-08-16</p>
                            <p>Javaのcomparator</p>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <footer id="footer">
        <p class="copyright">Copyright &copy; 2023 Learner All Rights Reserved.</p>
    </footer>

</body>
</html>